# Python Cache
__pycache__/
*.pyc
*.pyo

# Git
.git/
.gitignore

# Virtual Environments
.venv/
venv/
env/

# Runtime-Daten (Container erzeugt eigene)
seen.json
log.json
cities.json
countries.json
location_errors.json

# IDE / Editor
.vscode/
.idea/

# Nicht benötigte Dateien
*.tar
*.md
!README.md
Verkauf*/
START.html
gui.py
LICENSE

# OS
Thumbs.db
.DS_Store